src/test/munit/cicd-proj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	xmlns:mock="http://www.mulesoft.org/schema/mule/mock" 
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/mock http://www.mulesoft.org/schema/mule/mock/current/mule-mock.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">
    <munit:config name="munit" doc:name="MUnit configuration"/>
    <flow name="cicd-projFlow">
        <poll doc:name="Poll">
            <flow-ref name="cicd-projFlow" doc:name="Flow Reference"/>
        </poll>
        <munit:assert-on-equals expectedValue="#[&quot;Hello cicd-proj&quot;]" actualValue="#[payload]" doc:name="Assert Equals"/>
    </flow>
    
</mule>
